html,
body {
  margin: 0;
  background-color: #111111;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
  font-size: 20px;
  color: #fff;
}
h1,
h2,
h3,
h4 {
  color: #fff;
}
* {
  box-sizing: border-box;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.buttons {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

button {
  margin: 20px 10px;
  padding: 15px 100px;
  border: 2px solid #ff00c2;
  border-radius: 4px;
  background-color: #1a1a1a;
  font-family: "Fjalla One", sans-serif;
  color: #ff00c2;
  font-size: 26px;
  transition: 1s;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

div.slide-bar {
  border: 2px solid #ff00c2;
  border-radius: 4px;
  margin: 20px 10px;
  padding: 20px 100px;
  background-color: #1a1a1a;
  transition: 1s;
}

div.slide-bar:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

div.tweet-text-bar {
  position: absolute;
  top: 5rem;
  left: 5rem;
  width: 80%;
  max-width: 80%;
  z-index: 100;
  background: rgba(38, 38, 38, 0.5);
  border-radius: 15px;
}

div.tweet-text-bar h4 {
  padding: 1rem;
  line-height: 1.8rem;
  font-family: "Operator Mono Medium", monospace;
}
